h5 {

    font-size: 14;
    font-weight: normal;
    color: #fafafa;

}




.searchInput {
    box-shadow: none;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 24px;
    color: #FFF;
}

.searchBox {
    /* background-color: red; */
    width: 100%;
}


@media (min-width: 540px) {
    .searchInput {
        font-size: 48px;
    }

    .searchBox {
        width: 100%;
    }
}