* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial;
}

body {
  background: #161616;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
  color: #fafafa;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.app {
  /* background-color: green; */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: blue; */

  
  
}

.logoContainer {
  /* background-color: aqua; */
  margin-top: 20px;
  margin-left: 15px;
  
}

.contentContainer {
  margin-top: 40px;
  margin-left: 160px;
  /* max-width: 450px; */
  /* width:100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: darkcyan; */
  width: 100%;
}